<h1>Cadastro de Paciente</h1>

<% form_tag :action => 'create' do %>

<p><label for = "name">Nome</label>:
<%= text_field 'patient', 'name' %></p>

<p><label for = "rg">RG</label>:
<%= text_field 'patient', 'rg' %></p>

<p><label for = "age">Idade</label>:
<%= text_field 'patient', 'age' %></p>

<p><label for = "cause">Causa</label>:
<%= text_field 'patient', 'cause' %></p>

<p><label for = "description">Descrição</label>:
<%= text_field 'patient', 'description' %></p>

<p><label for = "gender_id">Sexo</label>:
<%= text_field 'patient', 'gender_id' %></p>

<%= submit_tag "Cadastrar" %>

<% end %>
<%= link_to 'Monitoramento', {:action => 'index'} %>