<div class="container margin">
  <div class="form-container">
    <h1 class="page-title">Cadastro de Paciente</h1>
    
    <%= form_for :patient, url: patients_path(@patient)  do |f| %>

    <div class="input-wrapper">
      <%= f.label :nome %><br />
      <%= f.text_field :name %><br />
    </div>

    <div class="input-wrapper">
      <%= f.label :RG %><br />
      <%= f.text_field :rg %><br />
    </div>

    <div class="input-wrapper">
      <%= f.label :Causa %><br />
      <%= f.text_field :cause %><br />
    </div>

    <div class="input-wrapper">  
      <%= f.label :descrição %><br />
      <%= f.text_field :description %><br />
    </div>

    <div class="input-wrapper">  
      <%= f.label :sexo %><br />
      <%= f.text_field :gender_id %><br />
    </div>

      <%= f.submit "Cadastrar" %>
    <% end %>
  </div>
</div>